<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SmolovJrBench</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <a class="home_link" href="/Home"><h1>Bench Master</h1></a>
    </header>

    <main class="main_layout">
        @RenderBody()
    </main>

    <footer class="footer">
        <p>This is an awesome footer</p>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
