################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SmolovJrBench/FileContentIndex/read.lock
/.vs/SmolovJrBench/FileContentIndex/f9d97c1f-70a1-497c-9524-eb3fef692fef.vsidx
/.vs/SmolovJrBench/FileContentIndex/e24668c6-0d28-4d2e-ae39-6d0c9e1e56ca.vsidx
/.vs/SmolovJrBench/FileContentIndex/de569224-7693-484f-aa81-7f3eb6236891.vsidx
/.vs/SmolovJrBench/FileContentIndex/2addcaa5-a5b9-48e2-830b-e32e9d70956c.vsidx
/.vs/SmolovJrBench/FileContentIndex
